name: Daily Port Check
on:
  schedule:
    - cron: '0 8 * * *' 
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Manual Checkout
        run: |
          git clone https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }} .
          
      - name: Install Requirements
        run: |
          python3 -m pip install requests beautifulsoup4
          
      - name: Run Spy
        run: python3 jorf_spy.py
